.container_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
}
.designers,.take,.blog_item,.our_mission {
    background-color: aliceblue;
    color: rgb(209, 127, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    top: -50px;
    background-color:whitesmoke;
    display: flex;
    width: 100%;
}
.hr-line {
    color: rgb(209, 127, 127);
    margin-top: 16px; 
}
.image {
    width: 100%;
    padding: 15px
}
.designer_item {
    padding-left: 20px;
}
.red_small_title{
    padding-top: 30px;
    font-size: 14px;
    color: rgb(209, 127, 127);
}
.red_big_title{
    padding: 30px 0;
  
}
.text {
    font-size: 14px;
    line-height: 1.8;
    padding-bottom: 10px;
    font-style: italic;
}
.text_item {
    color: grey;
    line-height: 1.8;
    padding: 10px 0;
}
@media(min-width:1200px) {
    .conteiner {
        max-width: 1140px;  
    }
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;  
    }
}